body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
}

header {
    background: #111827;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    padding: 80px 20px;
}

.skills {
    padding: 40px;
    background: #1e293b;
}
