*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0b1220;
  color:white;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  background:#111827;
  position:sticky;
  top:0;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:20px;
}

.nav-links a{
  color:white;
  text-decoration:none;
}

.menu-toggle{
  display:none;
  font-size:24px;
  cursor:pointer;
}

/* HERO */
.hero{
  text-align:center;
  padding:120px 20px;
}

.btn{
  padding:12px 25px;
  background:#38bdf8;
  color:black;
  text-decoration:none;
  display:inline-block;
  margin-top:15px;
  border-radius:5px;
}

/* FOOTER */
.footer{
  text-align:center;
  padding:20px;
  background:#111827;
}

/* MOBILE */
@media(max-width:768px){
  .menu-toggle{
    display:block;
  }

  .nav-links{
    display:none;
    flex-direction:column;
    position:absolute;
    top:70px;
    right:0;
    background:#111827;
    width:200px;
    padding:20px;
  }

  .nav-links.active{
    display:flex;
  }
}
